*{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

header{
    background-color: #231C07;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    height: 80px;
    width: 100vw;
}

footer{
    background-color: #231C07;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    height: 50px;
    width: 100vw;
    bottom: 0;
}

p{
    font-size: 20px;
}

.flex{
    display: flex;
}

section{
    background-color: #F0A202;
    opacity: 72%;
    height: 300px;
    
}

.introduction-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 40px;
}

.about-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100vw;
    gap: 20px;
}

.about-text-group{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    
}

.about-skills-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    gap: 20px;
}

.introduction-title{
    font-size: 40px;
    font-weight: bold;
}
.button-link{
    background-color: #18206F;
    color: #FFFFFF;
    border-radius: 10px;
    --font-size: 18px;
    height: var(--font-size);
    width: fit-content;
    padding: 10px 20px;
}