*{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #F0A202;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    height: 80px;
    width: 100vw;
    padding: 20px 40px;
}

.header-link{
    text-decoration: none;
}

footer{
    background-color: #231C07;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    height: 50px;
    width: 100vw;
    padding: 20px 40px;
    
}

.footer-links{
    gap: 20px;
}

div{
    display: inherit;
}

p{
    font-size: 20px;
}

.flex{
    display: flex;
}

section{
    background-color: #F0A202;
    opacity: 72%;
    height: 600px;
    width: 100vw;
    padding: 40px;
}

.introduction-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    
}

.about-section{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
}

.about-text-group{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
}

.about-skills-group{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    gap: 20px;
}

.introduction-title{
    font-size: 40px;
    font-weight: bold;
}

.button-link{
    background-color: #18206F;
    color: #FFFFFF;
    border-radius: 10px;
    --font-size: 18px;
    height: var(--font-size);
    width: fit-content;
    padding: 10px 20px;
    text-decoration: none;
}

.projects-section{
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    width: 100vw;
    height: 50%;
}

.project-cards-container{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.project-card{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


#eenmaal-andermaal{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
     url('../img/eenmaal-andermaal.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
}

#eenmaal-andermaal.expanded{
    height: 100vh;
}

#pink-goose{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
     url('../img/pink-goose-indexpage.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
}

#pink-goose.expanded{
    height: 100vh;
}

#mastermind{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
     url('../img/mastermind-logo.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
}

#mastermind.expanded{
    height: 100vh;
}

#portfolio-website{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
     url('../img/portofolio-website.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
}

#space-raiders{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
     url('../img/space-raiders-title.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
}

#space-raiders.expanded{
    height: 100vh;
}

#echoes-of-slaughter{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
     url('../img/echoes-of-slaughter-logo.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
}

#echoes-of-slaughter.expanded{
    height: 100vh;
}

.contact-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    height: 40%;
}

.contact-form{
    flex-direction: column;
    background-color: #A30000;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.contact-input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #D3D3D3;
}

#submit{
    align-self: center;
}

textarea{
    border: none;
    resize: none;
}