*{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

header{
    background-color: #231C07;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    height: 80px;
    width: 100vw;
}

footer{
    background-color: #231C07;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    height: 50px;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.flex{
    display: flex;
}

